body {
  margin: 0;
  padding: 24px;
}

#window {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

#table-container {
  overflow-x: auto;
  margin-top: 8px;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #808080;
  padding: 4px 8px;
  text-align: left;
  font-size: 14px;
  white-space: nowrap;
}
